{% extends 'base.html' %}
{% block content %}


<main>
  <section class="home">
    <div class="text-area d-flex flex-column justify-center">
      <div class="title">
        Find your dreamhouse with us
      </div>
      <div class="">
        {% include 'pages/search.html' %}
       
      </div>
    </div>
    <div class="image-area"></div>
  </section>
  <section>
    <header class="sticky-top">
     Listings Available
    </header>
    
    <div class="articles">
        {% for list in listings %}
        <article>
        <div class="article-img"><img src="{{list.photo_1.url}}"></div>
        <div class="article-title">{{list.title}}</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
      
      {% endfor %}
    </div>

  </section>
    <section>
    <header class="sticky-top">
     
    </header>
    <div class="articles">
      {% for realtor in realtors %}
      <article>
        <div class="article-img"><img src="{{realtor.photo.url}}"></div>
        <div class="article-title">{{realtor.name}}</div>
        <div class="article-description"><i class="material-icons">room</i>{{realtor.address}}</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Contact :  </b><div class="flex-one">{{realtor.phone}}</div></div>
        
      </article>
      {% endfor %}
     
    </div>
  </section>
</main>
  
    <script src="./assets/js/main.js"></script>
  
{% endblock %}