{% extends 'base.html' %}

{% block content %}

<section>

    <header class="sticky-top">
     
     {% include 'pages/search.html' %}
     Listings Available
    </header>
    
    <div class="articles">
        {% for list in listings %}
        <article>
        <div class="article-img"><img src="{{list.photo_1.url}}"></div>
        <div class="article-title">{{list.title}}</div>
        <div class="article-description"><i class="material-icons">room</i>Some random Place</div>
        <div class="article-description d-flex align-center primary-text"><b class="">Rs.  </b><div class="flex-one">Price</div></div>
        <div class="article-subtitle d-flex align-center"><i class="material-icons">face</i>Ram Bilas</div>
      </article>
      
      {% endfor %}
    </div>

  </section>
 {% endblock %}