  <form action="{% url 'search' %}" method="GET">
    {% csrf_token %}
      <div class='main1'> 
        <div class="div1"><input type="text" class='input' name="keywords"></div>
        <div class="div1"><input type="text" class='input'name="city"></div>
      </div>  
      <div class='main2'> 
        <div class="div1">
          <select id="bedrooms" name="bedrooms">
            <option selected="true" disabled>Bedrooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
        <div class="div1">
          <select id="price" name="Price">
            <option selected="true" disabled>Price</option>
            <option value="10000">10000</option>
            <option value="20000">20000</option>
            <option value="30000">30000</option>
            <option value="40000">40000</option>
            <option value="50000">50000</option>
            <option value="60000">60000</option>
            <option value="70000">70000</option>
            <option value="80000">80000</option>
          </select>
        </div>
      </div>  
      <div>
        <button id='button'>Submit</button>
      </div>    
    </form>
