
body{

	margin:0;
	/*font-size:1.3rem;*/
}
.text-center{
	text-align: center;
}
.d-flex{
	display: flex;
}
.d-none{
	display: none;
}
.flex-one{
	flex:1;
}

.align-center{
	align-items: center;
}

.align-end{
	align-items: flex-end;
}

.justify-center{
	justify-content: center;
}

.justify-end{
	justify-content: flex-end;
}

.justify-around{
	justify-content: space-around;
}
.justify-between{
	justify-content: space-between;
}
.justify-evenly{
	justify-content: space-evenly;
}

.flex-column{
	flex-direction: column;
}

.flex-column-reverse{
	flex-direction: column-reverse;
}

.flex-wrap{
	flex-wrap: wrap
}
/*height and widths*/
.h-100{
	height:100%;
}

.h-50{
	height:50%;
}

.w-100{
	width:100%;
}

.w-50{
	width:50%;
}

/*margins and paddings*/
.mx-5{
	margin:var(--wrapper-padding);
}

.my-5{
	margin:5vh 0;
}
.mx-10{
	margin:0 10vw;
}

.my-10{
	margin:10vh 0;
}
.wrapper{
	padding:var(--paddding-val);
	box-sizing: border-box;
}
/*main*/
}
/*nav*/
body{
    margin:0;
}
.sticky-top{
	top:0;
	position: sticky;
	transition: .3s;
}
nav{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:10vh;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding:var(--wrapper-padding);
	box-sizing:border-box;
	z-index: 99;
}
.nav-items{
	display: flex;
	justify-content: space-between;
	width:40%;
}
.nav-item{
	padding:5px 10px;
	box-sizing: border-box;
}

.nav-item.active{
	border-bottom:2px solid var(--accent-color);
}
.nav-item.light-nav{
	color:white;
	cursor: pointer;
}


/*sections*/
section.home{
	height:100vh;
	display: flex;
	position: relative;
	width:100%;
}

.home .image-area{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width: 100%;
	background:url('../images/bg1.jpg');
	background-size:cover;
	background-attachment: fixed;
	filter:brightness(.9);
	background-position: center;
}
.home .text-area{
	z-index: 1;
	width:50%;
}

.home .title{
	font-size:5rem;
	color:white;
	text-shadow: 2px 2px  8px rgba(0,0,0,0.4)
}

section header{
	font-size:4rem;
	text-align: center;
	padding:10vh 20vw;
	box-sizing: border-box;
	background:white;
}

.text-area, .image-area{
	width:50%;
}

.text-area{
	padding:5vw 7.5vw;
	box-sizing: border-box;
	/*line-height: 2rem*/
}

.scroll-element{
	height:50vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:5vw;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.scroll-element .scroll-image-area{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	filter:brightness(.7);
}
.scroll-element .scroll-text-area{
	z-index: 1
 
}


.scroll-text-area div{
	/*background:var(--primary-color);*/
	color:white;
	padding:10px 15px;
	/*box-shadow: 2px 2px 8px rgba(0,0,0,0.3);*/
	text-shadow: 1px 1px 16px rgba(0,0,0,0.3);
	font-size:7vw;
	font-weight:bolder; 
}
.services-scroll .scroll-image-area{
	background:url('../images/3.jpg') fixed center;
	background-size:cover;
}

.platform-scroll .scroll-image-area{
	background:url('../images/5.jpg') fixed center;
	background-size:cover;
}
.scan-scroll .scroll-image-area{
	background:url('../images/7.png') fixed center;
	background-size:cover;
}

.team-scroll .scroll-image-area{
	background:url('../images/9.jpg') fixed center;
	background-size:cover;
}

.contacts-scroll .scroll-image-area{
	background:url('../images/10.jpg') fixed center;
	background-size:cover;
}

.articles{
	padding:5vh 5vw;
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
	align-content:flex-start;
	box-sizing: border-box;
}
article{
	width:24%;
	margin-right:1.33%;
	margin-bottom: 5vh;
}
article:nth-child(4n){
	margin-right:0;
}
.article-img{
	height:200px;
	width:100%;
	border-radius: 5px;
	overflow: hidden;
}
.article-img img{
	height:100%;
	width:100%;
	object-fit: cover;
	object-position: center;
}
.article-title{
	font-size:2rem;
	margin:10px 0;
	font-weight: bold
}

.team-member{
	padding:15px 0;
	font-size:1.5rem;
}

.partners{
	padding:10vh 20vw;
	flex-wrap: wrap;
}

.partner{
	height:10vh;
	width:50%;
}

.partner img{
	height:100%;
	width:100%;
	object-fit: contain;
	object-position: center;
}

.contacts{
	padding:10vh 0;
}
.contacts header{
	padding:4vh 0;
}
.contacts .text-area{
	width:100%;
}

.contact{
	font-size:1.8rem;
	padding:0 30px;
}

.contact-details{
	padding:10px 0;
}

.contact-title{
	font-weight: bold
}

.logo-area img{
	height:15vh;
	width: 100%;
}

footer{
	margin-top:15vh;
	height:40vh;

}

.breaker{
	height:4px;
	background:var(--primary-color);
	width:50vw;
}

.footer-end{
	width:100%;
	background:rgba(0,0,0,0.8);
	padding:10px 0;
	text-align: center;
	font-size:.9rem;
}

.footer-end a{
	padding:0 10px;
	text-align: center;
	text-decoration: none;
	color:var(--light-color);
}

@media (max-width: 768px){
	section,.section-content{
		flex-direction: column;
	}
	section header{
		font-size:2rem;
	}
	section.partners{
		flex-direction: row;
	}
	.partner{
		padding:0 10px;
		box-sizing: border-box;
	}
	.home .text-area .title{
			font-size:3rem;
	}
	.text-area{
		flex:1;
		width: 100%;
	}
	.image-area{
		height:40%;
		width: 100%;
	}
	.contact{
		font-size:1rem;
	}
	.contacts .text-area{
		flex-direction: column;
	}
}