.div1{
	width: 300px;
}
.main1,.main2{
	display: flex;
	height: 50px;
	width: 600px;
}
.main{
	width: 600px;
}
#button{
	width: 300px;
	background: lightgreen;
	margin-left: 150px;
	height: 30px;
}
#bedrooms,#price{
	width: 300px;
	height: 30px;
}
.input{
	height: 22px;
	border-radius: 10px;
	width: 300px;
}