body{
	font-family: var(--primary-font);
	color: var(--primary-text-color);
}

/*scroll*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.paper-texture{
	position: relative;
}
.paper-texture::before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	background:url('../images/background.jpg');
	background-size:30%;
	height:100%;
	opacity: .2;
	width:100%;
}

.big-title{
	font-size:var(--big-title-font);
}
.mini-title{
	font-size:1.3rem;
}
.bold{
	font-weight: bold;
}
.title-description{
	font-size:2rem;
	font-weight: 300;
}

.image-area img{
	height:100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.title{
	font-size:var(--title-font);
	font-weight: bold;
	color:var(--primary-text-color);
}
.title.sticky-top{
	background:white;
	z-index: 1000;
	padding:10px 5vw;
}
.uppercase{
	text-transform: uppercase;
}
.wrapper{
	padding:var(--wrapper-padding);
	box-sizing: border-box;
}

.primary-text{
	color:var(--primary-color);
}
.image-cover{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.btn{
	border:none;
	padding:10px 25px;
	background:rgba(0,0,0,0.12);
	font-size:1.1rem;
	font-family: var(--primary-font);
	border-radius: var(--button-radius);
	box-shadow: var(--button-shadow);
}

.btn.primary{
	background:var(--primary-color);
	color:var(--light-color);
}

.input-area{
	border:1px solid red;
	background:white;
	border-radius: 5px;
	padding:15px 20px;
	
}
.input-area input:focus{
	outline:none;
}
.input-area input{
	font-size:1.3rem;
	border:none;
	background:none;
}
.bg-accent{
	background:var(--accent-color);
}

.d-animate-none{
	display: none;
}
.d-animate-none.slideUp{
	display: flex;
	animation:slideUp .3s;
}

@keyframes slideUp{
	from{
		opacity: 0;
		transform: translateY(100%);
	}to{
		opacity: 1;
		transform: translateY(0%);
	}
}