<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GharBazaar</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layouts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mero.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/varss.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'partials/navbar.html' %}
	{% block content %}
	{% endblock %}
    {% include 'partials/footer.html' %}
</body>
</html>